.advice_cont {
  position: absolute;
  margin-top: 10rem;
  margin-left: 17rem;
  text-align: center;
  border: green solid;
  padding: 5rem;
}

.advice_h {
  font-size: 2.5rem;
}

.advice_p {
  font-size: 1.2rem;
}
